{
    "openapi": "3.0.0",
    "info": {
      "title": "Finance ACC API",
      "version": "1.0.0",
      "description": "API documentation for Finance ACC services"
    },
    "servers": [
      {
        "url": "http://ec2-54-234-18-23.compute-1.amazonaws.com:5000/",
        "name": "AWS Development Server",
        "description": "AWS Development Server"
      },
      {
        "url": "http://localhost:3000",
        "name": "Local Server",
        "description": "Local Development Server"
      }
    ],
    "paths": {
      "/api/auth/register": {
        "post": {
          "summary": "Register User",
          "tags": ["Authentication"],
          "requestBody": {
            "required": true,
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "phone_no": { "type": "string" },
                    "password": { "type": "string" }
                  },
                  "required": ["name", "email", "phone_no", "password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/login": {
        "post": {
          "summary": "User Login",
          "tags": ["Authentication"],
        "description": "Use the following test credentials:\n\n**ADMIN**\nphone_no: +917797336556\npassword: 123456\n\n**CUSTOMER**\nphone_no: +918910490075\npassword: 123456\n\n**STAFF**\nphone_no: 1234567895\npassword: 123456",
          "requestBody": {
            "required": true,
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phone_no": { "type": "string" },
                    "password": { "type": "string" }
                  },
                  "required": ["phone_no", "password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Successful login",
              "content": {
                "application/json": {
                  "example": { "token": "jwt-token-here" }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/api/auth/user-types": {
        "get": {
          "summary": "Get User Types",
          "tags": ["General"],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/services": {
        "get": {
          "summary": "Get All Services",
          "tags": ["General"],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/sub-services": {
        "post": {
          "summary": "Get Sub Services",
          "tags": ["General"],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service_id": { "type": "string" }
                  },
                  "required": ["service_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/apply-for-job": {
        "post": {
          "summary": "Apply for Job",
          "tags": ["General"],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": { "type": "string", "format": "binary" },
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "phone_no": { "type": "string" },
                    "experience": { "type": "string" },
                    "current_location": { "type": "string" },
                    "agreement": { "type": "string" }
                  },
                  "required": ["file", "name", "email", "phone_no", "experience", "current_location", "agreement"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/get-in-touch": {
        "post": {
          "summary": "Get in Touch",
          "tags": ["General"],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "phone_no": { "type": "string" },
                    "email": { "type": "string" },
                    "required_service": { "type": "string" },
                    "message": { "type": "string" }
                  },
                  "required": ["name", "phone_no", "email", "required_service", "message"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/period-dropdown": { 
        "get": {
          "summary": "Generic Master Dropdown",
          "tags": ["General"],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/file-download": {
        "post": {
          "summary": "File Download",
          "tags": ["General"],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": { "type": "string" }
                  },
                  "required": ["key"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/services/user-dashboard": {
        "get": {
          "summary": "Customer Dashboard",
          "tags": ["Customer"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/services/bric": {
        "post": {
          "summary": "Service Submission",
          "tags": ["Customer"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "serviceId": { "type": "string" },
                    "subServiceId": { "type": "string" },
                    "mobileNo": { "type": "string" },
                    "mailId": { "type": "string" },
                    "periodId": { "type": "string" },
                    "message": { "type": "string" },
                    "files": { "type": "string", "format": "binary" }
                  },
                  "required": ["serviceId", "subServiceId", "mobileNo", "mailId", "periodId", "message", "files", "user_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/forgot-password": {
        "post": {
          "summary": "Forgot Password",
          "tags": ["Customer"],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phone_no": { "type": "string" }
                  },
                  "required": ["phone_no"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/auth/set-forgot-password": {
        "post": {
          "summary": "Set Forgot Password",
          "tags": ["Customer"],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phone_no": { "type": "string" },
                    "otp": { "type": "string" },
                    "new_password": { "type": "string" }
                  },
                  "required": ["phone_no", "otp", "new_password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/create-staff": {
        "post": {
          "summary": "Create Staff",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "phone_no": { "type": "string" },
                    "password": { "type": "string" },
                    "qualification": { "type": "string" },
                    "experience": { "type": "string" },
                    "service_id": { "type": "string" }
                  },
                  "required": ["name", "email", "phone_no", "password", "qualification", "experience", "service_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/edit-staff": {
        "post": {
          "summary": "Update Staff",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "staff_id": { "type": "string" }
                  },
                  "required": ["name", "email", "staff_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/get-all-staff": {
        "get": {
          "summary": "Get All Staff",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/get-all-customer": {
        "get": {
          "summary": "Get All Customers",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/approve-reject-service-requests": {
        "post": {
          "summary": "Approve/Reject Service Requests",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isApproved": { "type": "string" },
                    "requestId": { "type": "string" }
                  },
                  "required": ["isApproved", "requestId"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/all-service-requests": {
        "get": {
          "summary": "Admin All Service Requests",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/new-service-requests": {
        "get": {
          "summary": "Admin New Service Requests",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/admin/map-staff-customer": {
        "post": {
          "summary": "Map Staff to Customer",
          "tags": ["Admin"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_id": { "type": "string" },
                    "staff_id": { "type": "string" },
                    "service_id": { "type": "string" }
                  },
                  "required": ["customer_id", "staff_id", "service_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/staff/staff-all-dashboard": {
        "get": {
          "summary": "Staff All Dashboard",
          "tags": ["Staff"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/staff/staff-dashboard": {
        "get": {
          "summary": "Staff Dashboard",
          "tags": ["Staff"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      },
      "/api/staff/staff-approve-reject-service-requests": {
        "post": {
          "summary": "Staff Approve/Reject Service Requests",
          "tags": ["Staff"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isApproved": { "type": "string" },
                    "requestId": { "type": "string" }
                  },
                  "required": ["isApproved", "requestId"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success"
            }
          }
        }
      }
    },
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer"
        }
      }
    },
    "security": [
      {
        "bearerAuth": []
      }
    ]
  }
  